/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do formulário */
form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px; /* Ajustado para 2 colunas */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-gap: 15px; /* Espaço entre os campos */
    box-sizing: border-box;
}

/* Cabeçalho */
h1 {
    grid-column: span 2; /* O título ocupa as 2 colunas */
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Campos de entrada */
input, select, button {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

/* Placeholder visível */
input::placeholder {
    color: #aaa;
}

/* Estilo obrigatório */
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

label span {
    color: red;
    font-weight: bold;
}

/* Botão de cadastro */
button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 15px;
    transition: background-color 0.3s ease;
    grid-column: span 2; /* Botão ocupa as 2 colunas */
}

button:hover {
    background-color: #0056b3;
}

/* Mensagem de aviso */
small {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #888;
    grid-column: span 2; /* Aviso ocupa as 2 colunas */
}

/* Ajuste específico para evitar cortes */
form input,
form select {
    min-width: 0; /* Previne cortes em tamanhos pequenos */
}

/* Responsividade */
@media (max-width: 480px) {
    form {
        grid-template-columns: 1fr; /* Reduz para 1 coluna em telas pequenas */
    }

    h1, button, small {
        grid-column: span 1; /* Ajusta o título, botão e aviso para 1 coluna */
    }
}

/* alerta caso ja exista um cpf cadastrado */
.messages {
    margin: 1em 0;
    padding: 0.5em;
}

.alert {
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

