{% extends 'base.html' %}

{% block content %}
<body>
    <header>
        <h1>Cadastrar Nova Conta</h1>
    </header>

    <div class="container">
        <!-- Exibindo mensagens de sucesso e erro -->
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Formulário de cadastro -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Exibe o formulário para selecionar o tipo de conta -->
            <button type="submit" class="btn btn-primary">Cadastrar Conta</button>
        </form>
    </div>
</body>
{% endblock %}
