@ -1,46 +0,0 @@
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
  <h2>Transação de Conta Corrente</h2>

  <p><strong>Saldo atual:</strong> R$ {{ conta.saldo|floatformat:2 }}</p>

  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_valor">Valor</label>
      {{ form.valor }}
    </div>

    <div>
      <button type="submit" name="depositar" class="btn btn-success">Depositar</button>
      <button type="submit" name="sacar" class="btn btn-danger">Sacar</button>
    </div>
  </form>

  <div>
    <a href="{% url 'menu' %}" class="btn btn-secondary mt-3">Voltar para o Menu</a>
  </div>

  {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

</body>
</html>