{% extends 'base.html' %}

{% block content %}
<h1>Histórico de Transações - Conta {{ conta.nr_conta }}</h1>

<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Saldo Após Movimento</th>
            <th>Conta Destinatário</th>
        </tr>
    </thead>
    <tbody>
        {% for movimento in movimentos %}
            <tr>
                <td>{{ movimento.data|date:"d/m/Y H:i" }}</td>
                <td>{{ movimento.tipo_movimento }}</td>
                <td>{{ movimento.valor }}</td>
                <td>{{ movimento.saldo_movimento }}</td>
                <td>
                    {% if movimento.conta_destinatario %}
                        {{ movimento.conta_destinatario.nr_conta }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}