{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container mt-5">
        <header class="mb-4 text-center">
            <h1 class="display-4">Lista de Contas</h1>
        </header>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Número da Conta</th>
                        <th scope="col">Agência</th>
                        <th scope="col">Tipo de Conta</th>
                        <th scope="col">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conta in contas %}
                        <tr>
                            <td>{{ conta.nr_conta }}</td>
                            <td>{{ conta.nr_agencia }}</td>
                            <td>{{ conta.tipo_conta }}</td>
                            <td>R$ {{ conta.saldo|floatformat:2 }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
{% endblock %}

